
import java.nio.file.Paths

params {
	config_dir = "conf"
	nextflow_dir = "nextflow"
	out_dir = "results"
	nextflow_required_version = "20.12.0"
}

includeConfig "${params.config_dir}/process.config"

report {
	enabled = true
	file = "${params.nextflow_dir}/report.html"
}

timeline {
	enabled = true
	file = "${params.nextflow_dir}/timeline.html"
}

trace {
	enabled = true
	file = "${params.nextflow_dir}/trace.txt"
}

dag {
	enabled = true
	file = "${params.nextflow_dir}/dag.dot"

}

