/*
========================================================================================
    CONFIG
========================================================================================
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: "${params.publish_dir_mode}",
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withLabel: sequencing {
		container = "bahnk/sequencing:v1"
	}

    withLabel: python {
		container = "bahnk/python:v1"
	}

    withLabel: demultiplexing {
		publishDir = [
			path: { "${params.outdir}/files" },
			mode: "${params.publish_dir_mode}"
		]
	}

    withLabel: pucks {
		publishDir = [
            path: { "${params.outdir}/files/pucks" },
            mode: "${params.publish_dir_mode}",
            enabled: true
		]
	}

    withLabel: samtools {
		container = "bahnk/samtools:v1"
	}

    withName: UNTAR_STAR_INDEX {
        publishDir = [
            enabled: false
        ]
    }

    withName: FASTQC {
        publishDir = [
            path: { "${params.outdir}/qc/fastqc" },
            mode: "${params.publish_dir_mode}",
            enabled: true
        ]
    }

    withName: TAG_BAM {
        publishDir = [
            path: { "${params.outdir}/files/tagged" },
            mode: "${params.publish_dir_mode}",
            enabled: true
        ]
    }

    withName: READS_UP_MATCHING {
        ext.suffix = 'reads_up_matching'
        ext.script = 'reads_up_matching.py'
        publishDir = [
            path: { "${params.outdir}/qc/bam_metrics" },
            mode: "${params.publish_dir_mode}",
            enabled: true
        ]
    }

    withName: BAM_FILTER_UP_MATCHED {
        ext.expr   = '[us]==\"MATCHED\" && [as]==\"MAPPED\"'
        ext.suffix = 'filtered'
        publishDir = [
            path: { "${params.outdir}/files/filtered" },
            mode: "${params.publish_dir_mode}",
            enabled: true
        ]
    }

    withName: UMIS_PER_BARCODE {
        publishDir = [
            path: { "${params.outdir}/files/umi_per_bc" },
            mode: "${params.publish_dir_mode}",
            enabled: true
        ]
    }

    withName: READS_UMIS_PER_BARCODE {
        ext.suffix = 'reads_umis_per_barcode'
        ext.script = 'reads_umis_per_barcode.py'
        publishDir = [
            path: { "${params.outdir}/qc/bam_metrics" },
            mode: "${params.publish_dir_mode}",
            enabled: true
        ]
    }

    withName: READS_UMI_THRESHOLD {
        ext.suffix = 'reads_umi_threshold'
        ext.script = 'reads_umi_threshold.py'
        publishDir = [
            path: { "${params.outdir}/qc/bam_metrics" },
            mode: "${params.publish_dir_mode}",
            enabled: true
        ]
    }

    withName: BAM_FILTER_UMI_THRESHOLD {
        ext.expr   = '[bt]==\"PASS\"'
        ext.suffix = 'umi_threshold_filt'
        publishDir = [
            path: { "${params.outdir}/files/filtered" },
            mode: "${params.publish_dir_mode}",
            enabled: true
        ]
    }
}

/*
========================================================================================
    PLOTS
========================================================================================
*/

process {
    withLabel: plot {
		container = "bahnk/python:v1"
	}

    withName: PLOT_UP_MATCHING {
        ext.script = 'plot_up_matching.py'
        ext.args = ''
        ext.suffix = 'up_matching'
        publishDir = [
            path: { "${params.outdir}/plots" },
            mode: "${params.publish_dir_mode}",
            enabled: true
        ]
    }

    withName: PLOT_BARCODE_EXTRACTION {
        ext.script = 'plot_barcode_extraction.py'
        ext.args = ''
        ext.suffix = 'up_matching'
        publishDir = [
            path: { "${params.outdir}/plots" },
            mode: "${params.publish_dir_mode}",
            enabled: true
        ]
    }

    withName: PLOT_UP_ALIGN {
        ext.script = 'plot_up_align.py'
        ext.args = ''
        ext.suffix = 'up_align'
        publishDir = [
            path: { "${params.outdir}/plots" },
            mode: "${params.publish_dir_mode}",
            enabled: true
        ]
    }

    withName: PLOT_UMI_THRESHOLD {
        ext.script = 'plot_umi_threshold.py'
        ext.args = ''
        ext.suffix = 'umi_threshold'
        publishDir = [
            path: { "${params.outdir}/plots" },
            mode: "${params.publish_dir_mode}",
            enabled: true
        ]
    }
}
