/*
========================================================================================
    PLOTTING
========================================================================================
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: "${params.publish_dir_mode}",
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: PLOT_UP_MATCHING {
        ext.script = "plot_up_matching.py"
        ext.args = ""
        ext.ext = ""
        publishDir = [
            path: { "${params.outdir}/plots" },
            mode: "${params.publish_dir_mode}",
            enabled: true
        ]
    }
}