import java.nio.file.Paths

singularity {
	enabled = true
	runOptions = "-B /camp"
}

process {

	publish_mode = "copy"
	publish_overwrite = true

	executor = "local"
	//executor = "slurm"
	//cpus = 2
	//memory = "60G"
	//time = "10:00:00"

	//errorStrategy = "retry"
	//maxErrors = 3
	errorStrategy = "finish"
	
	publishDir = [
		path: { Paths.get( params.out_dir ) },
		mode: publish_mode,
		overwrite: publish_overwrite
	]

	withLabel: gpu {

		module = "CUDA/10.1.105"
		module = "GCCcore/8.2.0"

		executor = "slurm"
		clusterOptions = "--partition=gpu --gres=gpu:1"
	}

	withLabel: pucks {
		publishDir = [
			path: { Paths.get( params.out_dir , "files" , "pucks" ) },
			mode: publish_mode,
			overwrite: publish_overwrite
		]
	}

	withLabel: demultiplexing {
		publishDir = [
			path: { Paths.get( params.out_dir , "files" ) },
			mode: publish_mode,
			overwrite: publish_overwrite
		]
	}

	withLabel: tagging {
		publishDir = [
			path: { Paths.get( params.out_dir , "files" ) },
			mode: publish_mode,
			overwrite: publish_overwrite
		]
	}

	withLabel: quality_control {
		publishDir = [
			path: { Paths.get( params.out_dir , "qc" ) },
			mode: publish_mode,
			overwrite: publish_overwrite
		]
	}

	withLabel: plot {

		executor = "local"
		container = "docker://bahnk/python:v1"

		publishDir = [
			path: { Paths.get( params.out_dir , "qc" , "plots" ) },
			mode: publish_mode,
			overwrite: publish_overwrite
		]
	}

	////////////////////////////////////////////////////////////////////////////

	withLabel: sequencing {
		container = "docker://bahnk/sequencing:v1"
	}

	withLabel: python {
		container = "docker://bahnk/python:v1"
	}

	///////////////////////////////////////////////////////////////////////////

	//withName: bcl2fastq {

	//	module = "bcl2fastq2/2.20.0-foss-2018b"

	//	executor = "slurm"
	//	cpus = 12
	//	memory = "60GB"
	//	time = "06:00:00"
	//}

	withName: star {

		module = "STAR/2.5.2a-foss-2016b"

	//	executor = "slurm"
	//	cpus = 24
	//	memory = "200G"

	//	//executor = "slurm"
	//	//cpus = 24
	//	//memory = "300G"
	//	//time = "05:00:00"
	//	//clusterOptions = "--partition=hmem"
	}

	//withName: mark_duplicates {

	//	executor = "slurm"
	//	cpus = 8
	//	memory = "80G"

	//	//executor = "slurm"
	//	//cpus = 24
	//	//memory = "400G"
	//	//time = "06:00:00"
	//	//clusterOptions = "--partition=hmem"
	//}

	//withName: bam_tag {

	//	executor = "slurm"
	//	cpus = 8
	//	memory = "80G"
	//}

	//withName: bam_tag_hmem {

	//	//cpus = 32
	//	//executor = "slurm"
	//	//memory = "250G"

	//	executor = "slurm"
	//	cpus = 32
	//	memory = "600G"
	//	time = "24:00:00"
	//	clusterOptions = "--partition=hmem"
	//}

	//withName: bam_metrics {

	//	cpus = 8
	//	executor = "slurm"
	//	memory = "80G"
	//}

	//withName: bam_metrics_hmem {

	//	cpus = 32
	//	executor = "slurm"
	//	memory = "250G"

	//	//cpus = 32
	//	//executor = "slurm"
	//	//memory = "400G"
	//	//time = "06:00:00"
	//	//clusterOptions = "--partition=hmem"
	//}
}
